body {
  font-family: "Montserrat", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.container {
  width: 343px;
  min-height: 611px;
  border-radius: 8px;
  background-color: #ffffff;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.content-div {
  padding-left: 24px;
  padding-right: 24px;
}
.img-desktop {
  display: none;
}
.img-main {
  width: 343px;
}
.perfume {
  font: Montserrat;
  font-weight: 500px;
  font-size: 12px;
  line-height: 14.63px;
  letter-spacing: 5px;
  color: #6c7289;
  margin-top: 24px;
  margin-bottom: 12px;
}
.description {
  font-family: "Fraunces", serif;
  font-weight: 700px;
  font-size: 32px;
  line-height: 32px;
  text-align: left;
  margin-bottom: 16px;
}
.info {
  font-weight: 500px;
  font-size: 14px;
  line-height: 23px;
  color: #6c7289;
  margin-bottom: 24px;
}
.prices {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.newprice {
  display: inline;
  font-family: Fraunces;
  font-weight: 700px;
  font-size: 32px;
  line-height: 32px;
  color: #3d8168;
  margin-right: 19px;
}
.oldprice {
  display: inline;
  font-weight: 500px;
  font-size: 13px;
  line-height: 23px;
  color: #6c7289;
  text-decoration: line-through;
}
.button {
  border-radius: 8px;
  background-color: #3d8168;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 11.61px;
  padding: 16px 92px;
  cursor: pointer;
}
.addto {
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 17.07px;
  font-size: 14px;
  font-weight: 700;
  color: #ffffff;
}
.button:hover {
  background-color: #1a4032;
}
@media only screen and (min-width: 768px) {
  .container {
    flex-direction: row;
    width: 600px;
    min-height: 450px;
  }
  .img-desktop {
    display: block;
    width: 300px;
  }
  .img-main {
    display: none;
  }
  .content-div {
    margin-top: 8px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .button {
    padding: 16px 62px;
    margin-top: 30px;
  }
  .perfume {
    margin-bottom: 20px;
  }
  .description {
    margin-bottom: 24px;
    width: 10ch;
  }
  .info {
    margin-bottom: 29px;
    width: 25ch;
  }
}
